body {
  font-family: 'Mulish', sans-serif;
}


nav{
  background-color: #ebebeb;
  font-family: 'Mulish', sans-serif;
}

.nav-link:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

.nav-link:hover {
  color: #bbe1fa; //#3282b8
  background-color: transparent;
  text-decoration: underline;
}


.container {
  padding: 5px;
  margin: 5px 5px 10px 10px;
}


.footer {
  padding: 10px;
  margin-top: 300px;
  background-color: #bbe1fa;
}
